<head>
    <link rel="stylesheet" href="../resources/estilos/cuentareg.css">
</head>
<div class="manto">
    <div class="contador">
        <strong id="cierre">X</strong>
        <h1 class="title">Faltan:</h1>
        <div class="countdown">
            <div class="target">
                <label for="">Días</label>
                <article class="contar">
                    <div class="digit" id="days">00</div>
                </article>
            </div>
            <div class="separator">:</div>
            <div class="target">
                <label for="">Horas</label>
                <article class="contar">
                    <div class="digit" id="hours">00</div>
                </article>
            </div>
            <div class="separator">:</div>
            <div class="target">
                <label for="">Minutos</label>
                <article class="contar">
                    <div class="digit" id="minutes">00</div>
                </article>
            </div>
            <div class="separator">:</div>
            <div class="target">
                <label for="">Segundos</label>
                <article class="contar">
                    <div class="digit" id="seconds">00</div>
                </article>
            </div>
        </div>
        <img src="https://i.ibb.co/k4ML9s7/Recurso-1-2.png" alt="A la alcaldía Corredor">
    </div>
</div>
</div>
<script src="../resources/scripts/cuentareg.js"></script>