<!-- <section class="events">
    <div class="eventimg">
        <article class="corrart">
            <span id="imgcorredor"></span>
        </article>
    </div>
    <div class="event">
        <article>
            <h2>¿Dónde está Corredor?</h2>
            <p>
                Visualiza las actividades que se realizaran y lugares donde estare
            </p>
            <span>
                <img src="imagenes/bxs-check-circle.svg" alt="">
                Debates
            </span>
            <span>
                <img src="imagenes/bxs-check-circle.svg" alt="">
                Recorridos
            </span>
            <span>
                <img src="imagenes/bxs-check-circle.svg" alt="">
                Ruedas de prensa
            </span>
            <a href="../pages/eventos.php">
                <button id="more-btn" style="padding: 10px 50px;">
                    <span style="z-index: 2;">
                        Agenda
                    </span>
                </button>
            </a>
        </article>
    </div>
</section> -->

<script>

let imagenes = [
  "../imagenes/Fotos/img1.webp",
  "../imagenes/Fotos/img2.webp",
  "../imagenes/Fotos/img3.webp",
  "../imagenes/Fotos/img4.webp",
  "../imagenes/Fotos/img5.webp",
  "../imagenes/Fotos/img6.webp",
  "../imagenes/Fotos/img7.webp",
  "../imagenes/Fotos/img8.webp",
  "../imagenes/Fotos/img9.webp",
  "../imagenes/Fotos/img10.webp",
  "../imagenes/Fotos/img11.webp",
  "../imagenes/Fotos/img12.webp",
];
/*     let donde = document.getElementById("imgcorredor");
let index = 0;
setInterval(() => {
  donde.style.animation = "none"; // Elimina la animación actual
  donde.style.backgroundImage = `url(${imagenes[index]})`;
  index = (index + 1) % imagenes.length;
  donde.offsetHeight; // Forzar el reflow para reiniciar la animación
  donde.style.animation = "entradaform .8s ease";
}, 2000); */
</script>