<section class="feeds">
    <h2>Albert en las redes</h2>
    <div class="container-redes">
        <blockquote
            class="tiktok-embed"
            cite="https://www.tiktok.com/@albertcorredor_"
            data-unique-id="albertcorredor_"
            data-embed-type="creator"
            style="max-width: 380px; min-width: 288px;"
        >
            <section>
                <a target="_blank" href="https://www.tiktok.com/@albertcorredor_?refer=creator_embed">@albertcorredor_</a>
            </section>
        </blockquote>
        <script async src="https://www.tiktok.com/embed.js"></script>
        <div class="feed-contenedor">
            <span id="enc">
                <h3>Albert Corredor 🤙🏽</h3>
                <img src="imagenes/instagram.webp" alt="Feed de instagram">
            </span>
            <div class="main-galery">
                <div class="contenedor-galery">
                    <div class="galery"></div>
                </div>
            </div>
        </div>
        <a
            class="twitter-timeline"
            data-lang="es"
            data-width="330"
            data-height="500"
            href="https://twitter.com/AlbertCorredor?ref_src=twsrc%5Etfw"
        >Tweets by AlbertCorredor</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <div style="width: 330px;">
            <div
                class="fb-page"
                data-href="https://www.facebook.com/albertyordanocorredor"
                data-tabs="timeline"
                data-width=""
                data-height=""
                data-small-header="true"
                data-adapt-container-width="true"
                data-hide-cover="true"
                data-show-facepile="true"
            >
                <blockquote cite="https://www.facebook.com/albertyordanocorredor" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/albertyordanocorredor">Albert Corredor</a>
                </blockquote>
            </div>
        </div>
    </div>
    <!-- <script src="api.js"></script> -->
</section>

<script
        async
        defer
        crossorigin="anonymous"
        src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v17.0&appId=254683557183364&autoLogAppEvents=1"
        nonce="OwjEfZiu"
    ></script>