    <section class="hero">
    <div class="part">
        <div class="txthero">
            <h1 id="animtext"></h1>
            <p>
                Orgulloso ciudadano de Medellín, crecí en el barrio Belén Buenavista;
  Soy esposo de Daniela Jaramillo y feliz padre de Martín, Lucas y
  Pedro. Mi experiencia como empresario y mi vocación política me
  llevaron a ser hoy Pre-candidato a la alcaldía de Medellín para el
  periodo 2024-2027. Medellín lo es todo para nosotros; bienvenidos a
  este ambicioso proyecto de presente y de futuro para nuestra ciudad.
  “MEDELLÍN NOS UNE”
            </p>
            <a href="historia2.html">
                <a href="historia2.html">
                    <button id="more-btn">
                        <span style="z-index: 2;">Conoce</span>
                        <strong>Más</strong>
                    </button>
                </a>
            </a>
        </div>
        <div class="imghero">
            <video src="../imagenes/pag_web.mp4" type="video/mp4" style="width: 38vw;" autoplay muted loop></video>
        </div>
    </div>
    </section>    