<head>
    <link rel="stylesheet" href="../resources/estilos/animaciones.css">
  </head>
  <menu class="menu" id="menu">
    <div class="container-menu" style="display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 87%;"> 
    <img id="logoMed" src="../imagenes/svg/logoBlanco.webp" alt="Logo Blanco">
    <div class="enlaces">
        <a href="../index.php">
            Inicio
        </a>
        <a href="../pages/campaña.php">
            Campaña
        </a>
        <a href="#">
            Team Corredor
        </a>
        <a href="../pages/eventos.php">
            Eventos
        </a>
        <a href="../pages/galeria.php">
            Galeria
        </a>
        <!-- <a href="../pages/mapint.php">Mapa Interactivo</a> -->
    </div>
</div>  
</menu>

    <div class="nav-redes">
        <a href="https://www.instagram.com/albertcorredor/" target="_blank">
            <img src="../imagenes/instagram.webp" alt="Red instagram">
        </a>
        <a href="https://www.tiktok.com/@albertcorredor_" target="_blank">
            <img src="../imagenes/tiktok.webp" alt="Red tiktok">
        </a>
        <a href="https://www.facebook.com/albertyordanocorredor" target="_blank">
            <img src="../imagenes/facebook.webp" alt="Red facebook">
        </a>
        <a href="https://twitter.com/AlbertCorredor" target="_blank">
            <img src="../imagenes/twitter.webp" alt="Red twitter">
        </a>
        <a href="https://www.youtube.com/@albertcorredor" target="_blank">
            <img src="../imagenes/youtube.webp" alt="Red youtube">
        </a>
    </div>

<script src="../resources/scripts/menu.js"></script>
