<section class="volun">
    <div class="partCol">
    <figure>
        <span id="bandera">
            <p>Queremos que seas parte del</p>
            <img src="imagenes/svg/bandera.svg" alt="Fondo de bandera">
            <strong>Para</strong>
        </span>
        
    </figure>
    <div class="gridtxt">
        <article>
            <figure>
                <img src="imagenes/svg/bx-world.svg" alt="Icono">
            </figure>
            <p>Crear y enriquecer nuestra red con nuevos liderazgos que apoyen la transformación de Medellín</p>
        </article>
        <article id="gridtxtmid">
            <figure>
                <img src="imagenes/svg/bx-message-dots.svg" alt="Icono">
            </figure>
            <p>Mantener un diálogo activo para encontrar juntos las soluciones que necesita la ciudad</p>
        </article>
        <article>
            <figure>
                <img src="imagenes/svg/bx-landscape.svg" alt="Icono">
            </figure>
            <p>Actuar sobre los territorios HOY – Las soluciones no dependen de la política tradicional; pensar + actuar.</p>
        </article>
    </div>
    <button id="more-btn" class="btnvolform">
        <span id="formTeam" style="z-index: 2;">
            Formulario
        </span>
    </button>
    <div class="formTeam">
        <form>
            a la espera
        </form>
    </div>
</div>
</section>