<section class="trayect">
    <h2>Trayectoria</h2>
    <p>
        Conoce la historia de Corredor
        <br>
        <Strong>Desliza para descubrir</Strong>
    </p>
    <div class="carousel-container">
        <div class="carousel-wrapper">
            <div class="grid-his carousel">
                <div class="grop">
                    <article id="nac">
                        <img src="imagenes/iconos/bebe.webp" alt="Icono">
                        <p> Nacimiento</p>
                    </article>
                    <article id="bach">
                        <img src="imagenes/iconos/gradu.webp" alt="Icono">
                        <p>Graduación Bachiller</p>
                    </article>
                </div>
                <div class="grop">
                    <article id="grad">
                        <img src="imagenes/iconos/gradu.webp" alt="Icono">
                        <p>Graduación Administración de Negocios en Medellín</p>
                    </article>
                    <article id="gradex">
                        <img src="imagenes/iconos/gradu.webp" alt="Icono">
                        <p>Graduación de Estudios en el Exterior</p>
                    </article>
                </div>
                <article class="artmat" id="mat">
                    <img src="imagenes/iconos/corazon.webp" alt="Icono">
                    <p> Matrimonio con Daniela Jaramillo</p>
                </article>
                <div class="grop">
                    <article id="psi">
                        <img src="imagenes/iconos/graduac.webp" alt="Icono">
                        <p>Presidente Suplente de la Institución de formación técnica "Centro de Sistemas de Antioquia” CENSA</p>
                    </article>
                    <article id="lin">
                        <img src="imagenes/iconos/lenguaje.png" alt="Icono">
                        <p>
                            Funda y es General Manager de la institución "Centro de Idiomas LINGO”
                        </p>
                    </article>
                </div>
                <div class="grop">
                    <article id="cob">
                        <p>Co-Fundador y Board Member de “Censa International College”, Co-Fundador y Miembro de la Junta de la Institución de formación técnica ICD en República Dominicana</p>
                    </article>
                    <article id="vne">
                        <p> Vicerrector Nacional de Extensión, Proyección Social e Internacionalización de la Corporación Universitaria Americana</p>
                    </article>
                </div>
                <article>
                    <p>Asesor de Educación en el Ministerio de Tecnologías de la Información y las Comunicaciones.</p>
                </article>
                <div class="grop">
                    <article>
                        <p>Creación de la Fundación Por Medellín</p>
                    </article>
                    <article id="com">
                        <p> Elegido para ser parte del Concejo de Medellín del periodo 2020-2023</p>
                    </article>
                </div>
                <div class="grop">
                    <article id="pcm">
                        <p> Posesión como Concejal de Medellín</p>
                    </article>
                    <article id="scd">
                        <p>Sancionado por el CD, por incumplimiento de órdenes del Partido</p>
                    </article>
                </div>
                <article id="ric">
                    <p>Se realiza investigación por la Comisión Nacional Electoral</p>
                </article>
                <div class="grop">
                    <article id="cdd">
                        <p>CNE devolvió derecho al voto y a su curul a Albert Corredor</p>
                    </article>
                    <article id="rpd">
                        <p>Renuncia al Partido Centro Democrático</p>
                    </article>
                </div>
                <div class="grop">
                    <article id="frc">
                        <p>Formaliza su renuncia al Concejo de Medellín</p>
                    </article>
                    <article id="rbm">
                        <p>Recibe las banderas de Medellín Nos Une - y se le pide que se comience a trabajar para lograr la Alcaldía de Medellín</p>
                    </article>
                </div>
                <article class="artmat" id="lrh">
                    <p> Logra Récord Histórico de su intención de Voto de más de 250mil firmas para formalizar su candidatura</p>
                </article>
            </div>
        </div>
    </div>
</section>
