<head>
    <link rel="stylesheet" href="../resources/estilos/trayecto.css">
</head>
<section class="trayecto">
    <img class="arrows" src="../imagenes/iconos/bx-chevrons-left.svg" alt="Flechas">
    <div class="trayecto-contain">
        <div class="trayecto-wraper">
            <article class="trayec">
                <h2>12/12/1989</h2>
                <div class="cont">
                <h3>Nacimiento  </h3>
                </div>
            </article>
            <article class="trayect-reverse">
                <h2>30/11/2006</h2>
                <div class="cont">
                <h3>Graduación de Bachiller</h3>
                </div>
            </article>
            <article class="trayec">
                <h2>13/12/2012</h2>
                <div class="cont">
                <h3>Graduación administración de negocios en Medellín</h3>
                </div>
            </article>
            <article class="trayect-reverse">
                <h2>06/05/2016</h2>
                <div class="cont">
                <h3>Graduación de estudios en el exterior</h3>
                </div>
            </article>
            <article class="trayec">
                <h2>13/12/2012</h2>
                <div class="cont">
                <h3>Matrimonio con Daniela Jaramillo</h3>
                </div>
            </article>
            <article class="trayect-reverse">
                <h2>25/04/2012 - 28/12/2016</h2>
                <div class="cont">
                <h3>Presidente suplente de la institución de formación técnica "Centro de sistemas de Antioquia” Censa</h3>
                </div>
            </article>
            <article class="trayec">
                <h2>01/08/2013 - 31/01/2019</h2>
                <div class="cont">
                <h3>Funda y es general Manager de la institución "Centro de Idiomas Lingo"</h3>
                </div>
            </article>
            <article class="trayect-reverse">
                <h2>28/05/2009 - 31/12/2019</h2>
                <div class="cont">
                <h3>Co-Fundador y Board Member de "Censa International COllege", Co-Fundador y Miembro de la Junta de la Institución de formación técnica ICD en República Dominicana</h3>
                </div>
            </article>
            <article class="trayec">
                <h2>01/08/2012 - 15/01/2017</h2>
                <div class="cont">
                <h3>Vicerrector Nacional de Extensión, Proyección Social e Internacionalización de la Corporación Universitaria Americana</h3>
                </div>
            </article>
            <article class="trayect-reverse">
                <h2>06/05/2016</h2>
                <div class="cont">
                <h3>Asesor de Educación en el Ministerio de Tecnologías de la Información y las Comunicaciones.</h3>
                </div>
            </article>
            <article class="trayec">
                <h2>13/12/2012</h2>
                <div class="cont">
                <h3>Creación de la Fundación Por Medellín</h3>
                </div>
            </article>
            <article class="trayect-reverse">
                <h2>27/10/2019</h2>
                <div class="cont">
                <h3>Elegido para ser parte del Concejo de Medellín del periodo 2020-2023</h3>
                </div>
            </article>
            <article class="trayec">
                <h2>02/01/2020</h2>
                <div class="cont">
                <h3>Posesión como Concejal de Medellín</h3>
                </div>
            </article>
            <article class="trayect-reverse">
                <h2>10/11/2021</h2>
                <div class="cont">
                <h3>Sancionado por el CD, por incumplimiento de órdenes del Partido</h3>
                </div>
            </article>
            <article class="trayec">
                <h2>03/03/2022</h2>
                <div class="cont">
                <h3>Se realiza investigación por la Comisión Nacional Electoral</h3>
                </div>
            </article>
            <article class="trayect-reverse">
                <h2>07/04/2022</h2>
                <div class="cont">
                <h3>CNE devolvió derecho al voto y a su curul a Albert Corredor</h3>
                </div>
            </article>
            <article class="trayec">
                <h2>28/05/2022</h2>
                <div class="cont">
                <h3>Renuncia al Partido Centro Democrático</h3>
                </div>
            </article>
            <article class="trayect-reverse">
                <h2>24/06/2022</h2>
                <div class="cont">
                <h3>Formaliza su renuncia al Concejo de Medellín</h3>
                </div>
            </article>
            <article class="trayec">
                <h2>feb-2023</h2>
                <div class="cont">
                <h3>Recibe las banderas de Medellín Nos Une - y se le pide que se comience a trabajar para lograr la Alcaldía de Medellín</h3>
                </div>
            </article>
            <article class="trayect-reverse">
                <h2>Abr-may-2023</h2>
                <div class="cont">
                <h3>Logra Récord Histórico de su intención de Voto de más de 250mil firmas para formalizar su candidatura</h3>
                </div>
            </article>
        </div>
    </div>
    <img class="arrows" src="../imagenes/iconos/bxs-chevrons-right.svg" alt="">
</section>